.menuTwo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 200px;
    margin-top: -20px;
    margin-bottom: 60px;
    margin-left: 79px;
    color:pink;
    letter-spacing: 3px;
    
}
.menu {
    font-family: 'Cormorant Garamond', serif;
    font-size: 150px;
    margin-top: -20px;
    margin-bottom: 40;
    color:aqua;
    letter-spacing: 3px;
    
}
ul {
    list-style-type: none;
}

li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
li a:link {
    text-decoration: none;
    color:aqua
}
li a:visited {
    color:aqua
}
li a:hover {
  background-color: aqua;
}
    
/*
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
*/