body {
    background-color: #0f1244;
}

svg {
    height: 180px;
    width: 100%;
}

.svg-1 path {
    animation: 10s wave linear infinite alternate;
}

.svg-3 path {
    animation: 10s wave-2 linear infinite alternate;
}

.flip {
    transform: rotate(.5turn);
}

@keyframes wave {
    0% {
        d: path("M 27 10C 21 8 14 3 0 3L 0 0L 54 0L 54 14C 40 14 33 12 27 10Z");
    }

    50% {
        d: path("M 27 14C 12 14 5 7 0 7L 0 0L 54 0L 54 7C 49 7 42 14 27 14Z");
    }

    100% {
        d: path("M 27 10C 21 12 14 14 0 14L 0 0L 54 0L 54 3C 40 3 33 8 27 10Z");
    }
}

@keyframes wave-2 {
    50% {
        d: path("M-1.8189894e-12,0 L2889,0 L2889,331.90625 C2485.21875,331.90625 1990.98438,596.65625 1444.5,596.65625 C898.015625,596.65625 320.828125,331.90625 -1.8189894e-12,331.90625 L-1.8189894e-12,0 Z");
    }

    100% {
        d: path("M-1.90425453e-12,2.27397962e-13 L2889,2.27397962e-13 L2889,152 C2205.97017,152 1692.23438,254.514305 1444.5,352.765625 C1196.76562,451.016945 596.40625,596.65625 -5.99797989e-14,596.65625 L-1.90425453e-12,2.27397962e-13 Z");
    }
}

.title {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 59px;
    margin-left: 50px;
    letter-spacing: 1px;
    color: white;
}

#author {
    font-size: 12px;
}

#englishtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #d4fcff;
}

#spanish {
    display: inline-block;
    margin-left: 50px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .5px;
    color: #d4fcff;
}

.break {
    margin-left: 70px;
    margin-top: -14px;
}

.breakOne {
    margin-left: 70px;
}

.breakTwo {
    margin-left: 90px;
}

#english {
    display: inline-block;
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    /*    letter-spacing: .5px;*/
    color: #d4fcff;
}
